@charset "utf-8";
/* CSS Document */

/*上传头像*/
.imghead {
    position: relative;
    display: inline-block;
}
.imghead input {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;

}
.imghead .previewImg{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
/***分页***/
.pagination {
	width: 100%;
	height: 50px;
	background: #d5dbd8;
	margin: 0 auto;
    margin-top: 35px;
}
.pagination li {
	float: right;
}
.pagination li a {
	display: block;
	width: 86px;
	height: 50px;
	line-height: 50px;
	border-left: 1px solid #fff;
	text-align: center;
}