@charset "utf-8";
/* CSS Document */

/***主体内容***/
.main {
	width: 100%;
	min-width: 1240px;
}
.main-cont {
	width: 1240px;
	margin: 0 auto;
	margin-bottom: 20px;
}
a {
	cursor: pointer;
}
/***********左侧内容***********/
.left-cont {
	position: relative;
	float: left;
	width: 190px;
	background: #d5dbd8;
	overflow: hidden;
	box-shadow: 0px 0px 17px 0 #eee;
}
.left-nav {
    float: left;
    width: 100%;
    height: auto;   
}
.left-nav li .nav-title{
	display: block;
	height: 42px;
	font-size: 18px;
	line-height: 42px;
	text-align: center;
}
.left-nav li .nav-title img {
	padding-right: 10px;
	padding-top: 2px;
	vertical-align: text-top;
}
/*左侧列表*/
.nav-cont {
	text-align: center;
	background: #fff;
	padding: 15px 0;
}
.nav-cont a {
	display: block;
	color: #646464;
	font-size: 14px;
	line-height: 27px;
}
.actives {
	color: #1bc272 !important;
	font-weight: bold;
}
/***********右侧内容***********/
.right-box {
	float: left;
	width: 1050px;
	overflow: hidden;
	background: #fff;
}
select,input {
	height: 30px;
	background: none;
	
}
/***********右侧——我的订单***********/
.all-order {
	display: block;
}
.r-color {
	color: #646464;
}
/*房东选项的提示*/
.right-top {
	padding: 20px 10px;
	background: #f2f2f2;
}
.right-top span{
	color: #646464;
	padding-right: 5px;
	cursor: pointer;
}
/*我的订单状态*/
.centerTab {
    height: 39px;
    background: #f5f5f5;
    padding-left: 45px;
}
.centerTab li {
	float: left;
	width: 80px;
    height: 40px;
}
.centerTab li a{
	display: block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.centerTab li a:hover {
	color: #323232;
}
.centerTab li a.active {
	color: #ff6a51;
	font-weight: bold;
}

/*订单列表*/
.right-center {
	display: block;
	width: 100%;
	background: #fff;
	overflow: hidden; 
}
.goods-list {
	padding-top: 30px;
	margin-left: 20px;
	border-bottom: 2px solid #ccc;
}
/*订单号，订单时间*/
.txt-left {
	float: left;
	width: 77%;
	padding-bottom: 20px;
}
.txt-left p {
	display: inline-block;
}
.goods-num {
	padding-right: 20px;
}
.goods-time,.goods-time span,.goods-time a {
	color: #969696;
	font-size: 12px;
}
.goods-time a {
	padding-left: 20px;
	cursor: pointer;
}

/*评价*/
.goods-eval a {
	color: #ff6a51;
	font-size: 14px;
	padding-left: 190px;
}
/*订单状态*/
.txt-right {
	float: left;
}
.txt-right span {
	color: #ff1a00;
}
/*订单房源信息*/
.order-item {
	width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
}
/*房源图*/
.order-img {
	float: left;
	width: 200px;
	height: 120px;
}
.order-img img {
	width: 100%;
	height: 100%;
}
/*房源介绍*/
.order-content {
	float: left;
	padding-left: 10px;
	padding-right: 80px;
}
.fcolor,.fcolor span,.fcolor a {
	color: #646464;
	line-height: 24px;	
}
.fcolor span {
	padding: 0 3px;
}
.fcolor img {
    padding-left: 3px;
    padding-right: 10px;
    vertical-align: middle;
}
.fd-name img {
	padding-left: 20px;
	padding-right: 10px;
	vertical-align: bottom;
}
.fd-name a {
	color: #ff6a51;
	padding-left: 20px;
}
/*联系房东*/
.fd-contact {
	cursor: pointer;
}
/*金额*/
.fpay span {
	padding-right: 20px;
}

/*订单操作\订单详情*/
.order-state {
	float: left;
	position: absolute;
    right: 290px;
    top: 15px;
}
.order-opera {
	float: left;
	position: absolute;
    right: 290px;
    bottom: 25px;
}
.order-opera a,.order-state a {
	display: block;	
}
.order-state a {
	color: #ff6a51;
	font-size: 18px;
}
/*房费*/
.order-money {
	float: right;
	width: 234px;
	padding-top: 9px;
}
.mcolor{
	position: absolute;
 	color: #ed3d30;
 	background: none;
 	border: none;
 	font-size: 18px;
 }
.order-money p a {
	display: block;
	width: 100px;
	height: 24px;
	color: #fff;
	line-height: 24px;
	text-align: center;
	background: #1bc272;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 29px;
}

/***分页***/
.pagination {
	width: 100%;
	height: 50px;
	background: #d5dbd8;
	margin: 0 auto;
    margin-top: 35px;
}
.pagination li {
	float: right;
}
.pagination li a {
	display: block;
	width: 86px;
	height: 50px;
	line-height: 50px;
	border-left: 1px solid #fff;
	text-align: center;
}
/***********我的订单-订单详情***********/
.order-detail {
	display: none;
	padding: 20px 0 40px 20px;
}
/*订单状态*/
.fd-reply {
	padding-bottom: 5px;
}
.fd-reply span {
	color: #ff6a51;
	padding-left: 5px;
}
/*订单房源列表*/
.house-list {
	padding-top: 10px;
}
.fname img {
	padding-left: 20px;
	padding-right: 10px;
	vertical-align: middle;
}
/*线上支付*/
.online {
	padding: 10px 0 30px 0;
}
.online p {
	display: inline-block;
}
.all-money {
	padding-left: 20px;
	padding-right: 57px;
}
.them {
	vertical-align: text-top;
}
.them span {
	padding-left: 10px;
}
.tnem-sm {
	display: block;
	padding-left: 5px !important;
}
.tnem-sp {
	display: block;
	padding-left: 56px !important;
}
/*退款*/
.refund p {
	display: inline-block;
}
.refund .all-money {
	padding-left: 49px;
	padding-right: 30px;
}
.deduct-deposit {
	padding-left: 20px;
}
/*扣除原因的图片*/
.deduct-img {
	margin-top: 10px;
}
.deduct-img img {
	width: 186px;
	height: 104px;
	margin-right: 15px;
}
/*预订人信息*/
.booking {
	padding: 30px 0;
}
.booking p {
	display: inline-block;
	padding: 0 20px;
}
/*入住人信息*/
.table-bordered {
    border: 2px solid #ddd;
}
.table {
    width: 70%;
    max-width: 70%;
    margin-bottom: 40px;
}
caption {
    text-align: left;
    font-weight: normal;
    padding-bottom: 5px;
    vertical-align: middle;
}
.table-bordered>tbody>tr>td,.table-bordered>thead>tr>th {
    border: 2px solid #ddd;
}
/*热线电话*/
.hotline-tel {
	color: #ff6a51;
}

/***********我的交易-结算管理***********/
.right-account {
	display: block;
	width: 100%;
	background: #fff;
	padding: 20px 20px;
	overflow: hidden; 
}
/*收人查询*/
.income-query label {
	padding-left: 10px;
	padding-right: 20px;
}
.income-query label span {
	padding-left: 5px;
}
.query-year select {
	width: 76px;
}
.query-month select {
	width: 50px;
}
.query-city {
	width: 90px;
	margin-left: 10px;
}
/*查询结果*/
.query-result {
	padding-top: 30px;
	padding-bottom: 20px;
}
.query-result span {
	padding-right: 30px;
}

/***********我的房源-房源管理***********/
.house-manage {
	display: block;
	width: 100%;
	background: #fff;
	padding-left: 20px;
	overflow: hidden; 
}
.hotal-list {
	width: 100%;
	padding-top: 20px;
	padding-right: 25px;
	border-bottom: 2px solid #ccc;
}
.hotal-state {
	color: #ff6a51;
	padding-left: 30px;
}
.audit-data {
	float: right;
	    padding-right: 20px;
}
/*房源信息*/
.hotal-cont {
	padding-top: 20px;
	padding-bottom: 20px;
}
.hotal-left {
	float: left;
}
/*房源图*/
.hotal-img {
	float: left;
	width: 200px;
	height: 120px;
}
.hotal-img img {
	width: 100%;
	height: 100%;
}
/*房源介绍*/
.hotal-txt {
	float: left;
	padding-left: 10px;
}
.hotal-txt p {
	line-height: 20px;
}
.hotal-txt p img {
	padding-right: 10px;
}
.change-txt {
	background: none;
	border: none;
	color: #323232;
}
.change-name {
	color: #ff6a51;
}
/*房源按钮*/
.hotal-right {
	float: right;
	padding-right: 100px;
}
.hotal-right a {
	display: block;
	width: 100px;
	height: 30px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background: #1bc272;
	border-radius: 10px;
	margin-top: 10px;
	margin-right: 20px;
}
/**/
.house-tag {
	padding-top: 2px;
	overflow: hidden;
    background: transparent;
    margin-bottom: 20px;
}
.house-tag li {
	float: right;
}
.house-tag li img {
	vertical-align: bottom;
}
.house-tag li span {
	padding-left: 10px;
	    padding-right: 20px;
}

/***********我的房源-价格房态***********/
.price-box{
	display: block;
	width: 100%;
	background: #fff;
	padding: 20px 20px;
	overflow: hidden; 
}
.price-box .table>thead>tr>th, .table>tbody>tr>td {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: middle;
}
.price-box .table>thead>tr>th span, .price-box .table>tbody>tr>td span {
	display: block;
}
.price-num {
	cursor: pointer;
}

/***********我的消息-聊天记录***********/
.chat-cont {
	display: block;
	width: 100%;
	background: #fff;	
}
/*消息检索*/
.infor-search {
	padding: 20px 20px 0 20px;
}
.infor-time {
	width: 147px;
	height: 30px;
	margin: 0 10px;
}
.fk-name {
	width: 147px;
	height: 30px;
	text-align: center;
	margin-left: 20px;
	margin-right: 30px;
}
/*聊天消息*/
.chat-message {
	padding-left: 20px;
	padding-right: 20px;
}
.chat-infor {
	width: 100%;
	border: 2px solid #ccc;
	padding: 20px;
	margin-top: 30px;
}
/*房东头像,昵称*/
.head-img {
	float: left;
	padding-right: 20px;
	padding-top: 20px;	
}
/*聊天内容*/
.chat-txt {
	float: left;
}
.chat-Name {
	color: #969696;
	padding-top: 10px;
	padding-bottom: 3px;
}
.chat-content {
	width: 890px;
	cursor: pointer;
}
/*聊天总消息，时间*/
.chat-all {
	font-size: 13px;
	padding-top: 30px;
	padding-bottom: 20px;
}
.chat-page {
	padding-right: 30px;
}
.chat-num {
	color: #ff6a51;
	padding: 0 5px;
}
.chat-publish {
	color: #969696;
}
.chat-publish b {
	color: #969696;
	padding: 0 5px;
}
/***********聊天记录-聊天详情**********/
.chat-detail {
	display: none;
	margin: 20px 20px 40px 20px;
	border: 2px solid #ccc;
}
/*聊天内容*/
.detail-box {
	float: left;
	padding: 10px 50px 40px 20px;
}
/*返回聊天记录页*/
.back-chat {
	display: block;
	color: #ff6a51;
	padding-bottom: 30px;
}
.back-chat img {
	padding-right: 10px;
	vertical-align: middle;
}
.back-chat:hover {
	color: #ff6a51;
}
/*聊天内容详情*/
.detail-cont {
	display: block;
	width: 630px;
}
.chat-box div {
	display: inline-block;
}
.detail-list {
	padding-bottom: 20px;
}
/*房东信息*/
.detail-left {
	padding-right: 20px;
}
.chat-img {
	width: 48px;
	height: 48px;
	margin-left: 3px;
}
.chat-img img {
	width: 100%;
	height: 100%;
	
}
/*聊天内容*/
.chat-record {
	width: 548px;
	height: 75px;
	border: 2px solid #ccc;
}
/*发表时间*/
.chat-time p,.chat-time p span {
	text-align: right;	
	font-size: 12px;
	color: #969696;
	line-height: 20px;
}
.chat-time p span {
	padding: 0 5px;
}
/*房客聊天信息*/
.fk-chat {
	float: right;
	padding-left: 20px;
}
.chat-record-left {
	float: right;
	width: 548px;
	height: 75px;
	border: 2px solid #ccc;
}
/*发表时间*/
.fk-time p,.fk-time p span {
	text-align: left;	
	font-size: 12px;
	color: #969696;
	line-height: 20px;
}
.fk-time p span {
	padding: 0 5px;
}
/*查看更多*/
.look-more {
	display: none;
	color: #ff6a51;
	text-align: center;
	padding: 20px 0;
}
.look-more:hover{
	color: #ff6a51;
}
/*房东房源信息*/
.detail-house {
	float: left;
	padding-top: 30px;
	padding-bottom: 40px;
}
.chat-house p {
	padding-top: 3px;
}
/*回复房东*/
.reply-fd {
	display: block;
	width: 86px;
	height: 24px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	background: #1bc272;
	border-radius: 10px;	
	margin-top: 20px;
}
.reply-fd:hover {
	color: #fff;
}

/***********我的消息-系统消息***********/
.system-message {
	display: block;
    width: 100%;
    background: #fff;
}
.sys-message {
	padding: 20px 20px 0 20px;
}
/*未读消息*/
.no-read {
	color: #646464;
}
.new-num {
	color: #ff6a51;
	padding: 0 3px;
}
/*全选，批量删除*/
.operate {
	margin-top: 30px;
}
.operate a {
	margin-right: 20px;
}
.operate a:hover {
	color: #323232;
}
.operate a input {
	width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}
.all-del {
	width: 82px;
	height: 16px;
	background: url(../css/img/shanchu_moren_icon.png) no-repeat;
	background-position: 0 2px;
	padding-left: 25px;
}
.tag-read {
	width: 100px;
	height: 16px;
	background: url(../css/img/biaozhu_moren_icon.png) no-repeat;
	background-position: 0 2px;
	padding-left: 25px;
}
/*系统消息列表*/
.message-list {	
	margin-top: 20px;
	margin-left: 27px;
}
.message-list td {
	vertical-align: top;
}
.message-cont {
	width: 912px;
	text-align: left;
	padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
}
/*未读状态*/
.bold {
    font-weight: bold;
}
/*时间*/
.message-time {
	font-size: 12px;
	text-align: right;
}
.message-time span {
	color: #969696;
	padding-left: 20px;
}
/*删除*/
.message-del {
	color: #ff6a51;
}

/***********我的评价***********/
.my-eval {
	display: block;
	width: 100%;
	background: #fff;	
}
/*选择房源*/
.sel-house {
	padding: 20px 20px 0 20px;
}
.sel-house select {
	width: 147px;
	margin-left: 20px;
}
/*评价列表*/
.eval-message {
	padding-left: 20px;
	padding-right: 20px;
}
.eval-infor {
	border: 1px solid #1bc272;
	margin-top: 30px;
}
/*订单号*/
.eval-one {
	height: 48px;
	line-height: 48px;
	background: #e9f2ee;
	border-bottom: 1px solid #1bc272;
	padding-left: 30px;
}
.eval-date {
	padding-left: 30px;
	padding-right: 15px;
}
.eval-color {
	color: #ff6a51;
}
/*评价房源*/
.eval-two {
	height: 76px;
}
.eval-ul li {
	float: left;
	line-height: 76px;
}
/*房源*/
.eval-tit {
	width: 368px;
	height: 76px;
	border-right: 1px solid #1bc272;
}
.eval-tit span {
	padding-left: 30px;
}
.fkImg {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
/*回复*/
.eval-reply {
	width: 303px;
	height: 76px;
	text-align: center;
	border-right: 1px solid #1bc272;
}
.eval-reply span {
	padding-right: 30px;
}
/*查看*/
.eval-look {
	width: 337px;
	height: 76px;
	text-align: center;
}
.eval-note {
	color: #ff6a57;
	margin-left: 50px;
}
.fkeval {
	display: inline-block;
	width: 140px;
	line-height: 20px;
	word-wrap:break-word;
}

/***********我的设置—个人信息***********/
.Personal-infor {
	text-align: center;
	margin: 0 auto;
}
/*我的基本资料*/
.my-infor {
	font-size: 18px;
	padding: 30px 0 20px 0;
}
.my-pic{
	padding-bottom: 30px;
}
/*上传头像*/
.imghead {
    position: relative;
    display: inline-block;
}
.imghead input {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;
}
.imghead .previewImg{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
/*我的头像*/
.my-pic p {
	font-size: 16px;
	margin-top: 10px;
}
/*积分*/
.get-integral {
	color: #ff1a00;
	font-size: 18px;
	padding: 20px 0;
}

/*完善信息*/
.perfect {
	width: 81%;
	position: relative;
	left: 198px;
	overflow: hidden;
}
/*用户呢称*/
.perfect dl {
	width: 100%;
	height: 60px;
}
.perfect dl dt {
	float: left;
	width: 80px;
	font-size: 16px;
	line-height: 34px;
	text-align: right;
}
.perfect dl dd {
	float: left;
	margin-left: 20px;
}
.perfect dl dd select,.perfect dl dd input {
	height: 34px;
	background: #fff;
	padding-left: 10px;
}
.perfect dl dd input[type="text"] {
	width: 315px;
}
.perfect dl dd select {
	width: 110px;
	margin-right: 6px;
}
.bank-card {
	color: #ff1a00;
	padding-left: 30px;
}
/*性别*/
.radio {
	height: 30px;
    line-height: 30px;
}
.radio:nth-of-type(2) {
	margin-left: 50px;
}
/*出生日期*/
select:nth-of-type(2),select:nth-of-type(3) {
	margin-left: 24px;
}
/*工作*/
.job {
	width: 110px !important;
    margin-right: 30px;
}
/*教育*/
.school {
	width: 180px !important;
    margin-left: 24px;
}
/*保存按钮*/
.save {
	display: block;
	width: 180px;
	height: 50px;
	color: #fff;
	font-size: 18px;
	background: #1bc272;
	border-radius: 10px;
	margin: 20px auto 40px auto;
}


/***********我的设置—密码设置***********/
#item6 .right-center {
	height: 658px;
}
/*标题*/
.set-pwd {
	font-size: 18px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
/*获取验证码*/
.change {
    width: 81%;
    position: relative;
    left: 308px;
    overflow: hidden;
}
.change dl {
	width: 100%;
    height: 65px;
}
.change dl dt {
    float: left;
    width: 75px;
    font-size: 16px;
    text-align: left;
}
.change dl dt span {
	display: block;
}
.change dl dd {
    float: left;  
}
.change dl dd input {
	width: 180px;
	height: 34px;
	background: #fff;
	padding-left: 10px;
}
.get-code {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	background: #1bc272;
	border-radius: 10px;
	padding: 6px 26px;
	margin-left: 20px;
}
.get-code:hover {
	color: #fff;
}
/***********我的设置—修改验证***********/
.right-verify {
	display: block;
	width: 100%;
	background: #fff;	
}
.verify-cont {
	width: 45%;
	text-align: center;
	padding: 70px 0;
	margin: 0 auto;
}
.verify-cont dl {
	display: table;
	width: 100%;
	margin-bottom: 30px;
}
.verify-cont dl dt {
	float: left;
	width: 85px;
	font-size: 16px;
	text-align: right;
}
.verify-cont dl dt img {
	margin-right: 10px;
}
.verify-cont dl dt span b {
	display: inline-block;
}
.verify-cont dd {
    float: left;
    margin-left: 20px;
}
.id-number, .my-name {
	width: 330px;	
}
.fd-card, .my-note {
	width: 160px;
}
/*手持证件照片*/
.pic {
	display: inline-block;
	width: 123px;
	height: 130px;
	background: #ebebeb;
	border: 2px solid #ccc;
	margin-right: 15px;
    position: relative;
    right: 0;
	/*background: url(img/zhengjianPhoto_tianjia_icon.png) no-repeat center center;*/
}
.pic input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 123px;
	height: 130px;
}
.pic img{
	position: absolute;
	width: 119px;
	height: 126px;
	right: 0px;
}
.img-word {
	display: inline-block;
	height: 30px;
	color: #323232;
	position: relative;
    top: 26px;
    right: 235px;
}
.img-word:nth-of-type(2) {
	right: 130px;
}
/*申请修改按钮*/
.apply-change {
	display: block;
	width: 150px;
	height: 50px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	background: #1BC272;
	border-radius: 10px;
	margin:  0 auto;
	margin-bottom: 40px;
}

/***********我的设置—收款设置***********/

/***********接单操作弹框***********/
#order-off {
	width: 650px;
	margin: 0 auto;
}
.order-top {
	display: block !important;
	font-size: 18px;
    text-align: center;
}
/*订单房源信息*/
.order-item {
	width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
}
/*房源信息*/
.order-list {
	padding-left: 10px;
}
.txt-num {
	padding-bottom: 10px;
}
.txt-num p {
	display: inline-block;
}
/*房源图片*/
.order-img1 {
	float: left;
    width: 220px;
    height: 164px;
}
.order-img1 img {
	width: 100%;
    height: 100%;
}
/*名称，时间*/
.order-content1 {
	float: left;
    width: 370px;
    padding-left: 10px;
}
.order-content1 p{
	line-height: 25px;
}
.fcolor span {
	padding: 0 3px;
}
/*房费*/
.house-pay p {
	display: inline-block;
	padding-right: 20px;
}
/*请选择*/
.reason-box {
	width: 100%;
	padding-left: 10px;
	padding-bottom: 35px;
}
.reason {
	float: left;
	font-size: 16px;
	line-height: 30px;
}
.reason-list {
	float: left;
	width: 50%;
	padding-top: 3px;
}
.reason-list .radio:nth-of-type(1){
	margin-left: 20px;
	margin-right: 30px;
}
.reason-list .radio:nth-of-type(3){
	margin-left: 21px;
	margin-right: 10px;
	padding-top: 10px;
}
/*不接单*/
#no-order {
	display: none;
}
.reason-list .radio:nth-of-type(4){
	position: absolute;
	padding-top: 10px;
}
.off-reason {
	width: 270px;
	height: 30px;
	background: none;
	padding-left: 10px;
}
/*按钮*/
.reason-btn {
	width: 63%;
	padding: 65px 20px 40px 0;
	margin: 0 auto;
}
.ok-btn,.no-btn {
	width: 120px;
	height: 34px;
	color: #fff;
	background: #1bc272;
	border-radius: 10px;
	margin-left: 50px;
}
/***********退房处理***********/
.check-out{
	display: none;
	width: 100%;
	background: #fff;
	padding-left: 20px;
	overflow: hidden;
}
.check-out .goods-list {
	padding-top: 20px;
	margin-left: 0;
	border-bottom: 0;
}
.check-out .txt-left {
    padding-bottom: 13px;
}
/*扣除押金*/
.check-out .reason-box {
	padding-left: 0;
	padding-bottom: 25px;
}
.check-out .reason {
	font-size: 14px;
}
.check-out .reason-btn {
    width: 90%;
    padding: 35px 0 40px 0;
}
.check-out .reason-list {
	float: inherit;
}
/*押金金额*/
.deduct {
	display: block;
}
.cash-inp {
	width: 90px;
	height: 30px;
	background: none;
	padding-left: 10px;
	margin-left: 20px;
	margin-right: 10px;
}
/*扣除原因*/
.deduct-rea {
	width: 270px;
	height: 84px;
	background: none;
	border: 2px solid #ccc;
	padding-left: 10px;
	margin-left: 20px;
	margin-right: 10px;
}
/*上传图片*/
.upload-box {
	width: 100%;
	margin-top: 15px;
}
.filed {
	position: relative;
    display: inline-block;
	width: 70px;
	height: 30px;
    background: #1bc272;
     text-align: center;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
    margin-right: 20px;
    vertical-align: top;
}
.filed span {
    color: #fff;
    line-height: 30px;
}
.filed input {
	width: 70px;
	height: 34px;
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.upload-pic {
	display: inline-block;
	vertical-align: middle;
}
.upload-pic li {
	float: left;
	width: 100px;
	height: 56px;
	margin-right: 10px;
}
.upload-pic li img {
	width: 100%;
	height: 100%;
}


/***********联系房东弹框***********/
#order-contact {
	width: 726px;
	margin: 0 auto;
}
.contact-body {
	padding: 0;
}
.td_Price samp {
	color: #ff1a00;
}

/***********修改单日或阶段日价***********/
.change-time {
	
}
.change-time dl {
	width: 100%;	
	height: 60px;
}
.change-time dl dt {
	float: left;
	width: 75px;
	text-align: right;
	margin-right: 10px;
}
.change-time dl dd {
	float: left;
}
/*已选时间*/
.one-dl {
	line-height: 56px;
	margin-bottom: 20px;
}
.sel-time input {
	width: 147px;
	height: 56px;
	background: #f2f2f2;
	border: none;
}
.sel-time span {
	padding: 0 30px;
}
/*房态*/
.daily-prices {
	width: 147px;
	height: 34px;
}
/*剩余套数*/
.remaining-units {
	width: 78px;
	height: 34px;
	margin-right: 10px;
}

/***********统一修改价格***********/
/*修改价格*/
.change-price {
	cursor: pointer;
}
.unified-change dl {
	display: table;
	width: 100%;
	padding-bottom: 20px;
}
.unified-change dl dt {
	float: left;
	width: 98px;
	text-align: right;
	margin-right: 10px;
}
.unified-change dl dd {
	float: left;
}
/*周末特殊价*/
.weekend-special {
	width: 147px;
	height: 30px;
	margin-right: 30px;
}
/*房源打折设置*/
.set-discount {
	width: 338px;
	height: 111px;
	border: 2px solid #ccc;
}
/*用户注满*/
.days {
	width: 76px;
	height: 34px;
	padding-left: 10px;
}
.add-txt {
	display: inline-block;
	width: 60px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	background: #1BC272;
	border-radius: 10px;
	margin-left: 30px;
}
.add-txt:hover {
	color: #fff;
}
/*按钮*/
.confirm-btn {
    width: 63%;
    padding: 15px 20px 40px 0;
    margin: 0 auto;
}
