@charset "utf-8";
/* CSS Document */

/***主体内容***/
.main {
	width: 100%;
	min-width: 1240px;
}
.main-cont {
	width: 1240px;
	margin: 0 auto;
	margin-bottom: 20px;
}
a {
	cursor: pointer;
}
/***********左侧内容***********/
.left-cont {
	position: relative;
	float: left;
	width: 190px;
	background: #d5dbd8;
	overflow: hidden;
	box-shadow: 0px 0px 17px 0 #eee;
}
.left-nav {
    float: left;
    width: 100%;
    height: auto;   
}
.left-nav li .nav-title{
	display: block;
	height: 42px;
	font-size: 18px;
	line-height: 42px;
	text-align: center;
}
.left-nav li .nav-title img {
	padding-right: 10px;
	padding-top: 2px;
	vertical-align: text-top;
}
/*左侧列表*/
.nav-cont {
	text-align: center;
	background: #fff;
	padding: 15px 0;
}
.nav-cont a {
	display: block;
	color: #646464;
	font-size: 14px;
	line-height: 27px;
}
.actives {
	color: #1bc272 !important;
	font-weight: bold;
}
/***********右侧内容***********/
.right-box {
	float: left;
	width: 1050px;
	overflow: hidden;
	background: #fff;
}
select,input {
	height: 30px;
	background: none;
	
}
/***********右侧——我的订单***********/
.all-order {
	display: block;
}
.r-color {
	color: #646464;
}
/*房东选项的提示*/
.right-top {
	padding: 20px 10px;
	background: #f2f2f2;
}
.right-top span{
	color: #646464;
	padding-right: 5px;
	cursor: pointer;
}
/*我的订单状态*/
.centerTab {
    height: 39px;
    background: #f5f5f5;
    padding-left: 45px;
}
.centerTab li {
	float: left;
	width: 80px;
    height: 40px;
}
.centerTab li a{
	display: block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.centerTab li a:hover {
	color: #323232;
}
.centerTab li a.active {
	color: #ff6a51;
	font-weight: bold;
}

/*订单列表*/
.right-center {
	display: block;
	width: 100%;
	background: #fff;
	overflow: hidden; 
}
.goods-list {
	padding-top: 30px;
	margin-left: 20px;
	border-bottom: 2px solid #ccc;
}
/*订单号，订单时间*/
.txt-left {
	float: left;
	width: 77%;
	padding-bottom: 20px;
}
.txt-left p {
	display: inline-block;
}
.goods-num {
	padding-right: 20px;
}
.goods-time,.goods-time span,.goods-time a {
	color: #969696;
	font-size: 12px;
}
.goods-time a {
	padding-left: 20px;
	cursor: pointer;
}

/*评价*/
.goods-eval a {
	color: #ff6a51;
	font-size: 14px;
	padding-left: 190px;
}
/*订单状态*/
.txt-right {
	float: left;
}
.txt-right span {
	color: #ff1a00;
}
/*订单房源信息*/
.order-item {
	width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
}
/*房源图*/
.order-img {
	float: left;
	width: 200px;
	height: 120px;
}
.order-img img {
	width: 100%;
	height: 100%;
}
/*房源介绍*/
.order-content {
	float: left;
	padding-left: 10px;
	padding-right: 80px;
}
.fcolor,.fcolor span,.fcolor a {
	color: #646464;
	line-height: 24px;	
}
.fcolor span {
	padding: 0 3px;
}
.fcolor img {
    padding-left: 3px;
    padding-right: 10px;
    vertical-align: middle;
}
.fd-name img {
	padding-left: 20px;
	padding-right: 10px;
	vertical-align: bottom;
}
.fd-name a {
	color: #ff6a51;
	padding-left: 20px;
}
/*联系房东*/
.fd-contact {
	cursor: pointer;
}
/*金额*/
.fpay span {
	padding-right: 20px;
}

/*订单操作\订单详情*/
.order-state {
	float: left;
	position: absolute;
    right: 290px;
    top: 15px;
}
.order-opera {
	float: left;
	position: absolute;
    right: 290px;
    bottom: 25px;
}
.order-opera a,.order-state a {
	display: block;	
}
.order-state a {
	color: #ff6a51;
	font-size: 18px;
}
/*房费*/
.order-money {
	float: right;
	width: 234px;
	padding-top: 9px;
}
.mcolor{
	position: absolute;
 	color: #ed3d30;
 	background: none;
 	border: none;
 	font-size: 18px;
 }
.order-money p a {
	display: block;
	width: 100px;
	height: 24px;
	color: #fff;
	line-height: 24px;
	text-align: center;
	background: #1bc272;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 29px;
}

/***分页***/
.pagination {
	width: 100%;
	height: 50px;
	background: #d5dbd8;
	margin: 0 auto;
    margin-top: 35px;
}
.pagination li {
	float: right;
}
.pagination li a {
	display: block;
	width: 86px;
	height: 50px;
	line-height: 50px;
	border-left: 1px solid #fff;
	text-align: center;
}
/***********我的订单-订单详情***********/
.order-detail {
	display: none;
	padding: 20px 0 40px 20px;
}
/*订单状态*/
.fd-reply {
	padding-bottom: 5px;
}
.fd-reply span {
	color: #ff6a51;
	padding-left: 5px;
}
/*订单房源列表*/
.house-list {
	padding-top: 10px;
}
.fname img {
	padding-left: 20px;
	padding-right: 10px;
	vertical-align: middle;
}
/*线上支付*/
.online {
	padding: 10px 0 30px 0;
}
.online p {
	display: inline-block;
}
.all-money {
	padding-left: 20px;
	padding-right: 57px;
}
.them {
	vertical-align: text-top;
}
.them span {
	padding-left: 10px;
}
.tnem-sm {
	display: block;
	padding-left: 5px !important;
}
.tnem-sp {
	display: block;
	padding-left: 56px !important;
}
/*退款*/
.refund p {
	display: inline-block;
}
.refund .all-money {
	padding-left: 49px;
	padding-right: 30px;
}
.deduct-deposit {
	padding-left: 20px;
}
/*扣除原因的图片*/
.deduct-img {
	margin-top: 10px;
}
.deduct-img img {
	width: 186px;
	height: 104px;
	margin-right: 15px;
}
/*预订人信息*/
.booking {
	padding: 30px 0;
}
.booking p {
	display: inline-block;
	padding: 0 20px;
}
/*入住人信息*/
.table-bordered {
    border: 2px solid #ddd;
}
.table {
    width: 70%;
    max-width: 70%;
    margin-bottom: 40px;
}
caption {
    text-align: left;
    font-weight: normal;
    padding-bottom: 5px;
    vertical-align: middle;
}
.table-bordered>tbody>tr>td,.table-bordered>thead>tr>th {
    border: 2px solid #ddd;
}
/*热线电话*/
.hotline-tel {
	color: #ff6a51;
}

/***********我的交易-结算管理***********/
.right-account {
	display: block;
	width: 100%;
	background: #fff;
	padding: 20px 20px;
	overflow: hidden; 
}
/*收人查询*/
.income-query label {
	padding-left: 10px;
	padding-right: 20px;
}
.income-query label span {
	padding-left: 5px;
}
.query-year select {
	width: 76px;
}
.query-month select {
	width: 50px;
}
.query-city {
	width: 90px;
	margin-left: 10px;
}
/*查询结果*/
.query-result {
	padding-top: 30px;
	padding-bottom: 20px;
}
.query-result span {
	padding-right: 30px;
}

/***********我的房源-房源管理***********/
.house-manage {
	display: block;
	width: 100%;
	background: #fff;
	padding: 20px 20px;
	overflow: hidden; 
}




/***********接单操作弹框***********/
#order-off {
	width: 650px;
	margin: 0 auto;
}
.order-top {
	display: block !important;
	font-size: 18px;
    text-align: center;
}
/*订单房源信息*/
.order-item {
	width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
}
/*房源信息*/
.order-list {
	padding-left: 10px;
}
.txt-num {
	padding-bottom: 10px;
}
.txt-num p {
	display: inline-block;
}
/*房源图片*/
.order-img1 {
	float: left;
    width: 220px;
    height: 164px;
}
.order-img1 img {
	width: 100%;
    height: 100%;
}
/*名称，时间*/
.order-content1 {
	float: left;
    width: 370px;
    padding-left: 10px;
}
.order-content1 p{
	line-height: 25px;
}
.fcolor span {
	padding: 0 3px;
}
/*房费*/
.house-pay p {
	display: inline-block;
	padding-right: 20px;
}
/*请选择*/
.reason-box {
	width: 100%;
	padding-left: 10px;
	padding-bottom: 35px;
}
.reason {
	float: left;
	font-size: 16px;
	line-height: 30px;
}
.reason-list {
	float: left;
	width: 50%;
	padding-top: 3px;
}
.reason-list .radio:nth-of-type(1){
	margin-left: 20px;
	margin-right: 30px;
}
.reason-list .radio:nth-of-type(3){
	margin-left: 21px;
	margin-right: 10px;
	padding-top: 10px;
}
/*不接单*/
#no-order {
	display: none;
}
.reason-list .radio:nth-of-type(4){
	position: absolute;
	padding-top: 10px;
}
.off-reason {
	width: 270px;
	height: 30px;
	background: none;
	padding-left: 10px;
}
/*按钮*/
.reason-btn {
	width: 63%;
	padding: 65px 20px 40px 0;
	margin: 0 auto;
}
.ok-btn,.no-btn {
	width: 120px;
	height: 34px;
	color: #fff;
	background: #1bc272;
	border-radius: 10px;
	margin-left: 50px;
}
/***********退房处理***********/
.check-out{
	display: none;
	width: 100%;
	background: #fff;
	padding-left: 20px;
	overflow: hidden;
}
.check-out .goods-list {
	padding-top: 20px;
	margin-left: 0;
	border-bottom: 0;
}
.check-out .txt-left {
    padding-bottom: 13px;
}
/*扣除押金*/
.check-out .reason-box {
	padding-left: 0;
	padding-bottom: 25px;
}
.check-out .reason {
	font-size: 14px;
}
.check-out .reason-btn {
    width: 90%;
    padding: 35px 0 40px 0;
}
.check-out .reason-list {
	float: inherit;
}
/*押金金额*/
.deduct {
	display: block;
}
.cash-inp {
	width: 90px;
	height: 30px;
	background: none;
	padding-left: 10px;
	margin-left: 20px;
	margin-right: 10px;
}
/*扣除原因*/
.deduct-rea {
	width: 270px;
	height: 84px;
	background: none;
	border: 2px solid #ccc;
	padding-left: 10px;
	margin-left: 20px;
	margin-right: 10px;
}
/*上传图片*/
.upload-box {
	width: 100%;
	margin-top: 15px;
}
.filed {
	position: relative;
    display: inline-block;
	width: 70px;
	height: 30px;
    background: #1bc272;
     text-align: center;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
    margin-right: 20px;
    vertical-align: top;
}
.filed span {
    color: #fff;
    line-height: 30px;
}
.filed input {
	width: 70px;
	height: 34px;
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.upload-pic {
	display: inline-block;
	vertical-align: middle;
}
.upload-pic li {
	float: left;
	width: 100px;
	height: 56px;
	margin-right: 10px;
}
.upload-pic li img {
	width: 100%;
	height: 100%;
}


/***********联系房东弹框***********/
#order-contact {
	width: 726px;
	margin: 0 auto;
}
.contact-body {
	padding: 0;
}
.td_Price samp {
	color: #ff1a00;
}