@charset "utf-8";
/* CSS Document */

/***主体内容***/
.main {
	width: 100%;
	min-width: 1240px;
}
.main-cont {
	width: 1240px;
	margin: 0 auto;
	margin-bottom: 20px;
}
a {
	cursor: pointer;
}
/***********左侧内容***********/
.left-cont {
	position: relative;
	float: left;
	width: 190px;
	background: #d5dbd8;
	overflow: hidden;
	box-shadow: 0px 0px 17px 0 #eee;
}
.left-nav {
    float: left;
    width: 100%;
    height: auto;   
}
.left-nav li .nav-title{
	display: block;
	height: 42px;
	font-size: 18px;
	line-height: 42px;
	text-align: center;
}
.left-nav li .nav-title img {
	padding-right: 10px;
	padding-top: 2px;
	vertical-align: text-top;
}
/*我的订单*/
.nav-cont {
	text-align: center;
	background: #fff;
	padding: 15px 0;
}
.nav-cont a {
	display: block;
	color: #646464;
	font-size: 14px;
	line-height: 27px;
}
.actives {
	color: #1bc272 !important;
	font-weight: bold;
}
/***********右侧内容***********/
.right-box {
	float: left;
	width: 1050px;
	overflow: hidden;
}
/***********右侧——全部订单***********/
.all-order {
	display: block;
}
.r-color {
	color: #646464;
}

/*房客选项的提示*/
.right-top {
	padding: 20px 10px;
}
.right-top span{
	color: #646464;
	padding-right: 5px;
	cursor: pointer;
}

/*订单列表*/
.right-center {
	width: 100%;
	background: #fff;
	overflow: hidden; 
}
.goods-list {
	padding-top: 30px;
	margin-left: 20px;
	border-bottom: 2px solid #ccc;
}
/*订单号，订单时间*/
.txt-left {
	float: left;
	width: 77%;
	padding-bottom: 20px;
}
.txt-left p {
	display: inline-block;
}
.goods-num {
	padding-right: 20px;
}
.goods-time,.goods-time span,.goods-time a {
	color: #969696;
	font-size: 12px;
}
.goods-time a {
	padding-left: 20px;
	cursor: pointer;
}

/*评价*/
.goods-eval a {
	color: #ff6a51;
	font-size: 14px;
	padding-left: 190px;
}
/*订单状态*/
.txt-right {
	float: left;
}
.txt-right span {
	color: #ff1a00;
}
/*订单房源信息*/
.order-item {
	width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
}
/*房源图*/
.order-img {
	float: left;
	width: 200px;
	height: 120px;
}
.order-img img {
	width: 100%;
	height: 100%;
}
/*房源介绍*/
.order-content {
	float: left;
	padding-top: 9px;
	padding-left: 10px;
	padding-right: 100px;
}
.fcolor,.fcolor span,.fcolor a {
	color: #646464;
	line-height: 25px;	
}
.fd-name {
	padding-top: 20px;
}
.fd-name img {
	padding-left: 20px;
	padding-right: 10px;
	vertical-align: bottom;
}
.fd-name a {
	color: #ff6a51;
	padding-left: 20px;
}
/*联系房东*/
.fd-contact {
	cursor: pointer;
}
/*状态*/
.order-state {
	float: left;
	position: absolute;
    right: 330px;
}
.order-state a {
	display: block;
	color: #ff6a51;
	font-size: 18px;
	font-weight: bold;
    line-height: 120px;	
}
/*订单金额*/
.order-money {
	float: right;
	padding-top: 9px;
	padding-right: 126px;
}
.order-money p a {
	display: block;
	color: #646464;
	padding-top: 38px;
	cursor: pointer;
}

/***分页***/
.pagination {
	width: 100%;
	height: 50px;
	background: #d5dbd8;
	margin: 0 auto;
    margin-top: 35px;
}
.pagination li {
	float: right;
}
.pagination li a {
	display: block;
	width: 86px;
	height: 50px;
	line-height: 50px;
	border-left: 1px solid #fff;
	text-align: center;
}
/**********全部订单-查看评价——已删除评价**********/
#already-eval {
	display: none;
}
.eval{
	display: block;
}
/*房源信息*/
.eval .goods-list {
	border-bottom: none;
}
.stime,.stime span {
	color: #646464;
	font-size: 12px;
	padding-top: 5px;
}
.stime span {
	padding: 0 4px;
}
.order-price {
	padding-top: 20px;
}
/*入住评价*/
.eval-list {
	padding-top: 30px;
	margin-left: 20px;
}
.eval-title {
	font-size: 16px;
}
.stay-eval {
	width: 80%;
}
.eval-cont {
	width: 260px;
	display: inline-block;
	padding-top: 10px;
}
.eval-star {
	display: inline;
	vertical-align: middle;
}
.eval-star img {
	margin-right: 5px;
}
/*我的评价*/
.eval-title1 {
	float: left;
	font-size: 16px;
	padding-top: 35px;
}
.eval-txt {
	float: left;
	width: 918px;
	height: 98px;
	border: 2px solid #ccc;
	padding: 10px;
	margin-left: 20px;
}
/*评价图片*/
.eval-title2 {
	float: left;
	font-size: 16px;
	padding-top: 20px;
}
.eval-pic {
	float: left;
	margin-left: 20px;
}
.eval-pic li {
	float: left;
	width: 110px;
	height: 64px;
	margin-right: 10px;
}
.eval-pic li img {
	width: 100%;
	height: 100%;
}
/*点评时间,房东回复*/
.eval-time,.reply-time {
	color: #969696;
	font-size: 12px;
	text-align: right;
	margin: 10px 30px;
}
.eval-time span,.reply-time span {
	color: #969696;
	padding-right: 10px;
}
.eval-time a {
	color: #ff1a00;
	font-size: 14px;
}
.reply-time {
	margin-bottom: 50px;
}
.reply-time a {
	color: #323232;
	font-size: 14px;
}
.reply-time img {
	vertical-align: middle;
    padding-right: 10px;
}
/**删除评论**/
#delete-eval {
	display: none;
}
/***********全部订单-订单详情***********/
.order-detail {
	display: none;
	padding: 20px 0 40px 20px;
}
/*订单状态*/
.fd-reply {
	padding-bottom: 5px;
}
.fd-reply span {
	color: #ff6a51;
	padding-left: 5px;
}
/*订单房源列表*/
.house-list {
	padding-top: 10px;
}
.fname img {
	padding-left: 20px;
	padding-right: 10px;
	vertical-align: middle;
}
/*线上支付*/
.online {
	padding: 10px 0 30px 0;
}
.online p {
	display: inline-block;
}
.all-money {
	padding-left: 20px;
	padding-right: 57px;
}
.them {
	vertical-align: text-top;
}
.them span {
	padding-left: 10px;
}
.tnem-sp {
	display: block;
	padding-left: 53px !important;
}
/*退款*/
.refund p {
	display: inline-block;
}
.refund .all-money {
	padding-left: 49px;
	padding-right: 30px;
}
.deduct {
	padding-left: 20px;
}
/*预订人信息*/
.booking {
	padding: 30px 0;
}
.booking p {
	display: inline-block;
	padding: 0 20px;
}
/*入住人信息*/
.table-bordered {
    border: 2px solid #ddd;
}
.table {
    width: 70%;
    max-width: 70%;
    margin-bottom: 50px;
}
caption {
    text-align: left;
    font-weight: normal;
    padding-bottom: 5px;
    vertical-align: middle;
}
.table-bordered>tbody>tr>td,.table-bordered>thead>tr>th {
    border: 2px solid #ddd;
}

/*热线电话*/
.hotline-tel {
	color: #ff6a51;
}
/***********右侧——聊天记录***********/
.right-chat {
	display: block;
}
/*聊天列表*/
.chat-list {
	padding: 20px;
	margin: 20px;
    border: 2px solid #ccc;
}
/*房东头像*/
.chat-left {
	float: left;
}
.head-img {
	width: 60px;
	height: 60px;
	margin: 15px 20px 50px 0;
}
.head-img img {
	width: 100%;
	height: 100%;
}
/*聊天内容*/
.chat-middle {
	float: left;
	width: 542px;
	font-size: 14px;
	margin-right: 50px;
}
.chat-Name{
	color: #646464;
}
.chat-content {
	height: 60px;
	padding-top: 3px;
}
.chat-page {
	cursor: pointer;
}
/*聊天总消息，回复，时间*/
.char-all {
	font-size: 12px;
	padding-top: 50px;
}
.char-all p {
	display: inline-block;
}
.chat-num {
	color: #ff6a51;
	padding: 0 5px;
}
.chat-reply {
	padding: 0 30px 0 20px;
	cursor: pointer;
}
.chat-publish,.chat-publish span {
	color: #646464;
}
.chat-publish span {
	padding: 0 10px 0 5px;
}
/*聊天房源*/
.chat-right {
	float: left;
}
.chat-right p {
	line-height: 23px;
}
/***********聊天详情**********/
.chat-detail {
	display: none;
	margin: 20px 20px 40px 20px;
	border: 2px solid #ccc;
}
/*聊天内容*/
.detail-box {
	float: left;
	padding: 10px 50px 40px 20px;
}
/*返回聊天记录页*/
.back-chat {
	display: block;
	color: #ff6a51;
	padding-bottom: 30px;
}
.back-chat img {
	padding-right: 10px;
	vertical-align: middle;
}
.back-chat:hover {
	color: #ff6a51;
}
/*聊天内容详情*/
.detail-cont {
	display: block;
	width: 630px;
}
.chat-box div {
	display: inline-block;
}
.detail-list {
	padding-bottom: 20px;
}
/*房东信息*/
.detail-left {
	padding-right: 20px;
}
.chat-img {
	width: 48px;
	height: 48px;
	margin-left: 3px;
}
.chat-img img {
	width: 100%;
	height: 100%;
	
}
/*聊天内容*/
.chat-record {
	width: 548px;
	height: 75px;
	border: 2px solid #ccc;
}
/*发表时间*/
.chat-time p,.chat-time p span {
	text-align: right;	
	font-size: 12px;
	color: #969696;
	line-height: 20px;
}
.chat-time p span {
	padding: 0 5px;
}
/*房客聊天信息*/
.fk-chat {
	float: right;
	padding-left: 20px;
}
.chat-record-left {
	float: right;
	width: 548px;
	height: 75px;
	border: 2px solid #ccc;
}
/*发表时间*/
.fk-time p,.fk-time p span {
	text-align: left;	
	font-size: 12px;
	color: #969696;
	line-height: 20px;
}
.fk-time p span {
	padding: 0 5px;
}
/*查看更多*/
.look-more {
	display: none;
	color: #ff6a51;
	text-align: center;
	padding: 20px 0;
}
.look-more:hover{
	color: #ff6a51;
}
/*房东房源信息*/
.detail-house {
	float: left;
	padding-top: 30px;
	padding-bottom: 40px;
}
/*回复房东*/
.reply-fd {
	display: block;
	width: 86px;
	height: 24px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	background: #1bc272;
	border-radius: 10px;	
	margin-bottom: 30px;
}
.reply-fd:hover {
	color: #fff;
}
/*该房东其他房源*/
.other-title {
	padding-bottom: 5px;
}
.chat-house {
		padding-bottom: 20px;
}
/***********右侧——系统消息***********/
.sys-message {
	padding: 20px 20px 0 20px;
}
/*未读消息*/
.no-read {
	color: #646464;
}
.new-num {
	color: #ff6a51;
	padding: 0 3px;
}
/*全选，批量删除*/
.operate {
	margin-top: 30px;
}
.operate a {
	margin-right: 20px;
}
.operate a:hover {
	color: #323232;
}
.operate a input {
	width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}
.operate img {
	margin-right: 10px;
	vertical-align: middle;
}
/*系统消息列表*/
.message-list {	
	margin-top: 20px;
	margin-left: 27px;
}
.message-list td {
	vertical-align: baseline;
}
.message-cont {
	width: 912px;
	text-align: left;
	padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
}
/*未读状态*/
.bold {
    font-weight: bold;
}
/*时间*/
.message-time {
	font-size: 12px;
	text-align: right;
}
.message-time span {
	color: #969696;
	padding-left: 20px;
}
/*删除*/
.message-del {
	color: #ff6a51;
}
/***********右侧——我的收藏***********/
/*房源*/
.house-Name p {
	display: inline-block;
}
.right-pos {
	color: #ed3d30;
	font-size: 18px;
	position: relative;
	left: 310px;
}
.unfavorite {
	position: relative;
	left: 420px;
}
.fcolor img {
	padding-left: 3px;
	padding-right: 10px;
	vertical-align: middle;
}
b {
	padding: 0 5px;
}

/***********右侧——个人信息***********/
.Personal-infor {
	text-align: center;
	margin: 0 auto;
}
/*我的基本资料*/
.my-infor {
	font-size: 18px;
	padding: 30px 0 20px 0;
}
/*上传头像*/
.imghead {
    position: relative;
    display: inline-block;
}
.imghead input {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;
}
.imghead .previewImg{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
/*我的头像*/
.my-pic p {
	font-size: 16px;
	margin-top: 10px;
}
/*积分*/
.get-integral {
	color: #ff1a00;
	font-size: 18px;
	padding: 20px 0;
}

/*完善信息*/
.perfect {
	width: 81%;
	position: relative;
	left: 198px;
	overflow: hidden;
}
/*用户呢称*/
.perfect dl {
	width: 100%;
	height: 60px;
}
.perfect dl dt {
	float: left;
	width: 80px;
	font-size: 16px;
	line-height: 34px;
	text-align: right;
}
.perfect dl dd {
	float: left;
	margin-left: 20px;
}
.perfect dl dd select,.perfect dl dd input {
	height: 34px;
	background: #fff;
	padding-left: 10px;
}
.perfect dl dd input[type="text"] {
	width: 315px;
}
.perfect dl dd select {
	width: 110px;
	margin-right: 6px;
}
.bank-card {
	color: #ff1a00;
	padding-left: 30px;
}
/*性别*/
.radio {
	height: 30px;
    line-height: 30px;
}
.radio:nth-of-type(2) {
	margin-left: 50px;
}
/*出生日期*/
select:nth-of-type(2),select:nth-of-type(3) {
	margin-left: 24px;
}
/*工作*/
.job {
	width: 110px !important;
    margin-right: 30px;
}
/*教育*/
.school {
	width: 180px !important;
    margin-left: 24px;
}
/*保存按钮*/
.save {
	display: block;
	width: 180px;
	height: 50px;
	color: #fff;
	font-size: 18px;
	background: #1bc272;
	border-radius: 10px;
	margin: 20px auto 40px auto;
}


/***********右侧——密码设置***********/
#item6 .right-center {
	height: 658px;
}
/*标题*/
.set-pwd {
	font-size: 18px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
/*获取验证码*/
.change {
    width: 81%;
    position: relative;
    left: 308px;
    overflow: hidden;
}
.change dl {
	width: 100%;
    height: 65px;
}
.change dl dt {
    float: left;
    width: 75px;
    font-size: 16px;
    text-align: left;
}
.change dl dt span {
	display: block;
}
.change dl dd {
    float: left;  
}
.change dl dd input {
	width: 180px;
	height: 34px;
	background: #fff;
	padding-left: 10px;
}
.get-code {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	background: #1bc272;
	border-radius: 10px;
	padding: 6px 26px;
	margin-left: 20px;
}
.get-code:hover {
	color: #fff;
}

/***********右侧——入住人***********/
.set-stayper {
	padding: 20px;
}
/*入住人信息*/
.stayin-tab .table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 42px;
	border: 2px solid #ccc;
}
.stayin-tab .table thead tr th:nth-of-type(1) {
	cursor: pointer;
}
.stayin-tab .table-striped>thead>tr {
    background-color: #f5f5f5;
}
.stayin-tab .table-striped>tbody>tr:nth-child(even) {
    background-color: #f5f5f5;
}
.stayin-tab .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0;
}
.stayin-tab .table>tbody>tr>td {
	border-top: 0;
}
.stayin-tab .table tbody tr td a {
	display: inline-block;
	padding-right: 20px;
}
/*添加入住人，批量删除*/
.tab-btn {
	text-align: right;
}
.tab-btn a {
	display: inline-block;
	width: 120px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	background: #1bc272;
	border-radius: 10px;
	margin-right: 40px;
}
/***********右侧——优惠券***********/
/*可用/失效优惠券*/
.coupon-nav {
	height: 30px;
	padding-left: 30px;
	padding-top: 10px;
}
.coupon-nav li {
	float: left;
	padding-right: 30px;
}
.coupon-nav li a span {
	color: #ff6a51;
	padding-left: 5px;
}
.coupon-nav li a.active {
	color: #ff6a51;
}
.coupon-nav li a:hover {
	color: #ff6a51;
}
/*优惠券列表*/
.coupon-box {
	width: 100%;
	height: auto;  
	padding-bottom: 40px;
	 overflow: hidden;
}
.coupon-list {
	float: left;
	width: 490px;
	height: 170px;
	background:url(../css/img/youhuiquan_bg_img.png);
	margin-left: 25px;
	margin-top: 20px;
}
/*优惠说明-左边*/
.coupon-left {
	float: left;
	width: 160px;	
}
.coupon-left p{
	text-align: center;
	line-height: 35px;
}
.coupon-money {
	color: #fb241f;
	font-size: 30px;
	font-weight: bold;
	padding-top: 50px;
	
}
.full-money {
	font-size: 18px;
    padding-left: 10px;
}
.full-money span {
	padding: 0 3px;
}
/*优惠说明-右边*/
.coupon-right {
	float: left;
	width: 328px;
	padding-left: 50px;
}
.coupon-title {
	font-size: 20px;
	color: #fd4142;
	padding: 20px 0;
}
.coupon-item,.coupon-item li {
	list-style-type: disc !important;
	color: #646464;
}
/***********右侧——会员与积分***********/
.Member {
	display: block;
	padding: 20px 0 40px 20px;
}
.Member-top {
	float: left;
	width: 68px;
	text-align: center;
	margin-right: 50px;
}
/*会员头像*/
.member-pic {
	width: 68px;
	height: 68px;
	border-radius: 50%;	
}
.member-pic img {
	width: 100%;
	height: 100%;
}
.Member-top p {
	font-size: 16px;
	padding-top: 6px;
}
/*会员消费记录*/
.Member-consume {
	float: left;
}
.Member-consume p:nth-of-type(1) {
	padding-bottom: 20px;
}
.card-member {
	color: #ff1a00;
}
/*点击查看规则*/
.click-look {
	color: #ff6a51;
	font-size: 12px;
	padding-left: 50px;
}
.click-look:hover {
	color: #ff6a51;
}
/*签到*/
.Sign-in {
	margin-top: 30px;
	margin-bottom: 30px;
}
.Sign-btn {
	display: inline-block;
	width: 130px;
	height: 30px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background: #1bc272;
	border-radius: 10px;
	margin-right: 20px;
}
/*积分收入和使用*/
.sel-view {
	width: 80px;
	height: 30px;
	background: #fff;
	padding-left: 10px;
	margin-left: 10px;
}
.integral-tab {
	margin-top: 10px;
}
.integral-tab .table {
	margin-bottom: 0;
}
.integral-tab .table>thead>tr>th {
	padding: 5px;
}
.integral-tab .table>tbody>tr>td {
	padding: 15px;
}
/***********会员与积分——规则***********/
.menber-rules {
	display: none;
	padding: 20px 0 40px 20px;
}
/*标题*/
.rules-list {
	margin-bottom: 30px;
}
.rule-title {
	font-size: 20px;
	text-align: center;
	line-height: 35px;
}
/*概述*/
.sub-title {
	font-size: 16px;
}
.rules-list p {
	padding-top: 5px;
}
/*会员等级*/
.grade-tab {
	padding-top: 10px;
	padding-left: 13px;
}
.grade-tab .table {
	margin-bottom: 5px;
}
.grade-tab p {
	font-size: 12px;
	color: #646464;
}
/*获取积分途径*/
.get-way span{
	display: block;
	padding-left: 15px;
	padding-top: 5px;
}
/*活动*/
.way-tab {
	padding-right: 10px;
}
.way-tab .table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 0;
	margin-top: 10px;
}
.plan span {
	display: block;
}
/***********右侧——分享优惠***********/
.share-pic {
	height: 374px;
}
.share-pic img {
	width: 100%;
	height: 100%;
}

/***********弹框***********/
/***********取消订单弹框***********/
#order-off {
	width: 650px;
	margin: 0 auto;
}
.order-top {
	display: block !important;
	font-size: 18px;
    text-align: center;
}
/*房源信息*/
.order-list {
	padding-left: 10px;
}
.txt-num {
	padding-bottom: 10px;
}
.order-img1 {
	float: left;
    width: 220px;
    height: 164px;
}
.order-img1 img {
	width: 100%;
    height: 100%;
}
.order-content1 {
	float: left;
    width: 370px;
    padding-left: 10px;
}
.fcolor span {
	padding: 0 3px;
}
.order-content1 p:nth-of-type(2) {
	padding-top: 10px;
}
/*取消原因*/
.reason-box {
	width: 100%;
	padding-left: 10px;
	padding-bottom: 50px;
}
.reason {
	float: left;
	font-size: 16px;
	line-height: 30px;
}
.reason-list {
	float: left;
	width: 50%;
	padding-left: 30px;
}
.reason-inp {
	width: 185px;
	height: 34px;
	background: #fff;
	padding-left: 10px;
	margin-top: 6px;
}
/*按钮*/
.reason-btn {
	width: 63%;
	margin: 0 auto;
}
.ok-btn,.no-btn {
	width: 120px;
	height: 34px;
	color: #fff;
	background: #1bc272;
	border-radius: 10px;
	margin-left: 50px;
}
/***********房东联系方式弹框***********/
.contact-box {
	padding-left: 20px;
}
 .house-address {
 	padding-top: 30px;
 }
 .no-get {
 	padding-top: 30px;
 }
 .no-get p  {
 	float: left;
 	padding-top: 10px;
 }
 .no-get p span {
 	display: block;
 }
 .contact-txt {
 	float: left;
 	width: 100px;
 	height: 34px;
 	background: #fff;
 	margin: 13px 30px 0 10px;
 }
 .no-get a {
 	float: left;
 	width: 120px;
 	height: 56px;
 	background: #ccc;
 }
 /*底部按钮*/
.contact-btn button {
	display: block;
	width: 120px;
	height: 34px;
	color: #fff;
	background: #1bc272;
	border-radius: 10px;
	margin: 0 auto;
}
.close-btn {
	margin-top: 20px !important;
}
 /***********入住确定弹框***********/
.txt-num p {
	display: inline-block;
}
.order-content2 {
    float: left;
    width: 370px;
    padding-left: 10px;
}
.order-content2 p {
	line-height: 24px;
}
/***********我要退房（已支付状态）弹框***********/
/*入住退房时间*/
.out-time {
	padding: 15px 0 15px 0;
}
/*退房日期*/
.out-box {
	width: 100%;
	padding-left: 10px;
}
.out-date {
    width: 185px;
    height: 34px;
    color: #323232;
    background: #f5f5f5;	
    padding: 20px 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: none;
 }
/***********评价房东弹框***********/
#order-eval {
	width: 48%;
	margin: 0 auto;
}
/*评价项*/
.eval-box {
	padding:0 10px;
}
.eval-item {
	float: left;
	width: 65%;
}
.eval-item span {
	text-align: right;
}
/*评价房源*/
.eval-house {
	float: left;
	width: 35%;
}
.eval-house p {
	padding-top: 5px;
}
.house-img {
	width: 295px;
	height: 160px;
	margin-top: 7px;
	margin-bottom: 4px;
}
.house-img img {
	width: 100%;
	height: 100%;
}
/*评价内容*/
.eval-content {
	width: 100%;
	margin-top: 40px;
}
.eval-content p {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.eval-content p span {
	display: block;
}
.eval-text {
	display: inline-block;
	width: 370px;
	height: 54px;
	color: #646464;
	padding: 5px;
	border: 2px solid #ccc;
}
/*上传图片*/
.upload-box {
	width: 100%;
	margin-top: 15px;
}
.filed {
	cursor: pointer;
	width: 105px;
	height: 34px;
    position: relative;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    background: #1bc272;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    margin-right: 20px;
}
.filed span {
    color: #fff;
    font-size: 14px;
}
.filed input {
	width: 105px;
	height: 34px;
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.filed img {
	padding-left: 5px;
	margin-top: 8px;
	vertical-align: bottom;
}
.upload-pic {
	display: inline-block;
	vertical-align: middle;
}
.upload-pic li {
	float: left;
	width: 110px;
	height: 64px;
	margin-right: 10px;
}
.upload-pic li img {
	width: 100%;
	height: 100%;
}
.eval-btn {
	width: 55%;
	margin: 0 auto;
}
.eval-btn button {
	display: inline-block;
}
/***********联系房东弹框***********/
#order-contact {
	width: 726px;
	margin: 0 auto;
}
.contact-body {
	padding: 0;
}
.td_Price samp {
	color: #ff1a00;
}
/***********删除系统消息弹框***********/
#del-new {
	width: 600px;
	height: 425px;	
    position: relative;
    top: 150px;
    margin: 0 auto;
}
#del-new p {
	font-size: 18px;
	text-align: center;
	padding-top: 166px;
}
.confirm-not button {
	width: 120px;
    height: 34px;
    color: #fff;
    background: #1bc272;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 148px;
    margin-right: -90px;
}
/***********添加入住人弹框***********/
.add-box {
	width: 80%;
	margin: 0 auto;
}
.add-top {
    display: block !important;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
.add-infor input,.add-infor select {
	background: none;
	padding-left: 10px;
}
.add-infor input[type='text'] {
	width: 330px;
	height: 34px;
}
.add-infor .sex {
	margin-right: 50px;
}
.add-infor select:nth-of-type(1) {
	width: 140px;
}
.add-infor select {
	width: 96px;
	height: 34px;
}
.add-list {
	margin: 30px auto;
}
.add-list span {
	display: inline-block;
	width: 100px;
	font-size: 16px;
	text-align: right;
	margin-right: 20px;
}
.add-list span img {
	margin-right: 10px;
}
/*按钮*/
.add-not button{
	width: 120px;
    height: 34px;
    color: #fff;
    background: #1bc272;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 175px;
    margin-right: -70px;
    
}

