@charset "utf-8";
/* CSS Document */


/****房源详情样式****/
/* 头部 */
.header {
	background-color: #fff;
}
img {
	vertical-align: middle;
}
/*右边用户状态*/
.navbar-right li a {
	float: left;
	text-align: center;
    line-height: 36px;
	color: #323232;
    overflow: hidden;
}
.navbar-brand {
	width: 50%;
}
.nolink {
	display: block;
}
.top_line{
	float: left;
	width: 1px;
    height: 16px;
    display: block;
    background-color: #323232;
	margin-top: 25px;
}
.service {
	padding-top: 2px;
}
.service img {
	width: 27px;
	height: 27px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.service a {
	font-size: 14px;
}
.login {
	font-size: 18px;
}
.login .dl {
	padding-right: 7px;
}
.login .zc {
	padding-left: 7px;
}
.house {
	top: 15px;
    left: 14px;
}
.release {
	width: 152px;
	height: 35px;
	font-size: 20px;
	line-height: 4px !important;
	color: #fff !important;
	background: #1bc272;
}


/*房源详情内容*/
.Content {
	width: 100%;
	min-width: 1240px;
	color: #323232;
	font-size: 14px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
}
.txt-color {
	color: #646464;
}
/*标题*/
.house-txt {
	width: 1240px;
	margin: 20px auto;
}
.name {
	font-size: 24px;
}
.house-tag {
	padding-top: 2px;
	overflow: hidden;
    background: transparent;
}
.house-tag li {
	float: left;
	padding-right: 20px;
}
.house-tag li img {
	padding-bottom: 5px;
}
.house-tag li span {
	padding-left: 10px;
}
.house-cont {
	width: 100%;
	position: relative;
}
.house-detail {
	width: 1240px;
	margin: 0 auto;
}
/*左边内容——房源信息*/
.leftBox {
	float: left;
	width: 765px;
	background: #fff;
	overflow: hidden;
}


/****轮播图部分****/
/*实拍照片*/
.box{z-index: 0;}
.house-pic {
	widows: 100%;
	height: 620px;
	position: relative;
    overflow: hidden;
}
.house-collect {
	display: block;
    position: absolute;
    width: 40px;
    height: 36px;
    top: 20px;
    right: 30px;
}
.Large-pic {
	width: 765px;
    height: 620px;
}
.Large-pic li {
	position: absolute;
	top: 0;
	left: 0;
    height: 620px;
  	width: 765px;
 
}
/*缩略图*/
.thumb_nav {
	position: absolute;
    bottom: 0;
    width: 765px;
    height: 140px;
    background-color: rgba(0,0,0,.4);
    z-index: 102;
    overflow: hidden;
}
.left_nav {
	position: absolute ;
    left: 20px;
    width: 28px;
    height: 140px;
    bottom: 0px;
    z-index: 103;
    text-align: center;	
}
.left_nav img,.right_nav img {
    margin-top: 46px;
}
.right_nav {
	float: right;
	width: 28px;
    height: 140px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    z-index: 103;
    text-align: center;	
}
.show_box {	
    width: 680px;
    height: 140px;
    margin: 0 auto;
    overflow: hidden;
    
}
.thumb_pic {
	height: 140px;
	width: 1400px;
	position: relative;
}
.thumb_pic li {
	float: left;
    width: 112px;
    height: 140px;
    margin: 30px 0 0 20px;

}
.thumb_pic li a img {
    display: block;
    width: 112px;
    height: 80px;
}
.thumb_pic li:last-child {
	margin-right: 20px;
}



/*房源信息*/
.house-int {
    width: 1240px;
    font-size: 16px;
    padding-top: 30px;
}
.house-int-ul li {
	display: inline-block;
	float: left;
	width: 225px;
    margin-left: 30px;
}
.house-int-ul li img {
	margin-left: 10px;
}
.house-int-ul li p {
	padding-top: 5px;
}
.house-int-right {
	position: relative;
	top: -75px;
	left: 80px;
}
.right-bed {
	top: -107px;
}
.house-int-right span {
	display: block;
	font-size: 14px;
	color: #646464;
}
/*右侧内容——预定房源，联系房东*/
.rightBox {
	position: static;
	right: 320px;
	float: right;
	width: 445px;
	height: 620px;
	color: #323232;
	background-color: #fff;
	overflow: hidden;
	
}
.rightBox-cont {
	margin: 20px 0 0 20px;
}
/*价格*/
.word_color {
	color: #ff1a00;
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
.house-price .full-1 {
	padding-left: 35px;
}
/*预定时间，房源套数*/
.reserve-box {
	margin-top: 20px;
	position: relative;
}
.reserve-time {
	float: left;
	display: inline-block;	
	line-height: 50px;
	background: #f2f2f2;
}
.times {
	width: 290px;
	height: 50px;
	line-height: 50px;
	border: none;
	outline: none;
	padding-left: 20px;
}
.reserve-num {
	float: left;
	width: 92px;
	height: 32px;
	background-color: #fff;
	margin-left: 25px;
    margin-top: 10px;
}
.time-prompt {
	display: block;
	height: 35px;
}
/*房源打折情况*/
.house-full {
	width: 330px;
	line-height: 22px;
	padding-top: 5px;
	padding-left: 5px;
	margin-bottom: 20px;
}
.house-full a {
	color: #ff6a51;
	padding-right: 10px;
}
/*预定按钮*/
.reserve-btn {
	display: block;
	width: 200px;
	height: 50px;
	color: #fff;
	font-size: 18px;
	background: #1BC272;
	border-radius: 10px;
	margin: 0 auto;
}
/*房态*/
.house-state {
	height: 85px;
	margin-top: 30px;
}
.state-time {
    margin-top: 10px;
}
.state-day {
    float: left;
	width: 67px;
    height: 50px;
    text-align: center;
    padding-left: 1.5px;
    padding-right: 1.5px;
}
.state-day span {
	display: block;
}
.full-state .room{
	display: block;
    padding: 0 12px;
}
/*联系房东*/
.contact-fd {
	width: 403px;
	border-top: 2px solid #e6e6e6;
	margin-top: 20px;
}

.fd-pic {
	height: 112px;
}
.left_pic {
	float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 25px;
}
.pmessage {
	float: left;
    width: 280px;
    height: 100px;
    margin-top: 65px;
    margin-left: 10px;
}
.fd-name {
    display: block;
}
.tip_box {
    display: block;
}
.tip_box .tip {
	float: left;
    display: inline-block;
    width: 106px;
    height: 30px;
    padding-left: 25px;
    padding-top: 8px;
    margin-top: 5px;
   
}
.tip.shim {
    background: url(img/shiming_icon.png) no-repeat 0 4px;
}
.tip.iphone {
    background: url(img/phone_icon.png) no-repeat 0 0;
}
.contact-btn {
	display: block;
	width: 200px;
	height: 50px;
	color: #fff;
	font-size: 18px;
	background: #1BC272;
	border-radius: 10px;
	margin: 0 auto;
}

/*顶部悬停*//*吸顶菜单*/
.col{
	width: 100%;
	height: 60px;
	background: #243545;
	position: fixed;
	top: 0;
	z-index: 999;
	display: none;
	
}
.col-logo{
	float: left;
	margin-left: 14.6%;
}
.column{
	width: 1240px;
	height: 60px;
	
	margin: 0 auto;
	color: #FFFFFF;
}

.column-left {
	float: left;	
	width: 766px;	
	overflow: hidden;
	margin: 0 auto;

}
.house-box {
	overflow: hidden;
}
#contentTab{z-index: 999;}
.house-tabs {
	width: 765px;
	height: 60px;
}
.house-tabs li {
	float: left;
	width: 153px;	
	text-align: center;
}
.house-tabs li a{
	font-size: 18px;
	line-height: 60px;
	color: #fff;
}
.current{
	background: #1bc272;
}
/*右*/
.column-right{
	float: left;
	width: 474px;
	
}
.column-right span{
	color: #fff;
}


/*配套设施*/
.column-box{
	margin-top: 20px;
	width: 1240px;
	margin: 0 auto;
}
.column-cont {
	width: 765px;
	background: #fff;
	overflow: hidden;
	margin-bottom: 20px;
}
.column-infor {
	width: 725px;
	margin: 0 20px;
    padding: 20px 0;
    border-top: 2px solid #ccc;
    overflow: hidden;
}
.side-box {
    float: left;
    width: 100px;
    text-align: center;
}
.icon-facility {
    display: inline-block;
    width: 50px;
    height: 64px;
    background: url(img/peitao_icon.png) no-repeat 0 0;
}
.column-title {
	font-size: 16px;
}
.content-box {
	font-size: 14px;
    margin: 0 0 0 90px;
    cursor: pointer;
}
.column-list {
    margin-top: -6px;
    margin-left: 30px;
    overflow: hidden;
}
.facility-list li {
    float: left;
    line-height: 60px;
    width: 140px;
    padding: 0 0 0 30px;
    overflow: hidden;
}
.column-list li.icon-wifi {
	background: url(img/sheshi_wifi_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-parking-space {
	background: url(img/sheshi_tingche_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-cook {
	background: url(img/sheshi_zuofan_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-hot-water {
	background: url(img/sheshi_reshuii_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-shower {
	background: url(img/sheshi_linyu_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-bathtub {
	background: url(img/sheshi_yugang_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-party {
	background: url(img/sheshi_juhui_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-kettle {
	background: url(img/sheshi_majiang_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-pet {
	background: url(img/sheshi_chongwui_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-smoking {
	background: url(img/sheshi_xiyan_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-toothbrush {
	background: url(img/sheshi_kongtiao_icon.png) no-repeat;
	background-position: 0;
}
.column-list li.icon-tv {
	background: url(img/sheshi_dianshi_icon.png) no-repeat;
	background-position: 0;
}
.toggle-btn a{	
	color: #ed3d30;
	margin-left: 30px;
}

/*入住须知*/
#section3 {
	border-bottom: 2px solid #ccc;
}
.icon-Checkin {
    display: inline-block;
    width: 50px;
    height: 58px;
    background: url(img/xuzhi_icon.png) no-repeat 0 0;
}
.Checkin-list li {
	float: left;
    line-height: 30px;
    width: 260px;
    overflow: hidden;
}
.stay-integral {
	width: 330px !important;
}
.look-integral{
	color: #ff1a00;
    padding-left: 10px;
}
/*积分弹框*/
.modal-dialog {
	position: fixed;
	top: 250px;
    left: 430px;
    width: 648px;
    color: #323232;
}
.modal-title {
	font-size: 18px;
    text-align: center;
    padding-top: 15px;
}
.modal-body p {
	line-height: 25px;
}
.eg {
	padding-top: 20px;
}
.modal-body p span {
	display: block;
}
.look-btn {
	width: 120px;
	height: 34px;
	color: #fff;
	background: #1bc272;
	border-radius: 10px;
	margin-left: 100px;
}
/*收费须知*/
.list-title {
	font-size: 16px;
}
.unsubscribe-box {
	margin-left: -15px;
}
.rules-1 {
	float: left;
	width: 143px;
	height: 81px;
	background: url(img/tuikuan_background_img.png) no-repeat;
	margin-top: 20px;
}
.rules-order {
	color: #fff;
	padding: 4px 0 0 10px;
}
.rules-order span {
	color: #fff;
	padding: 0 10px 0 10px;
}
.rules-2 {
	float: left;
	width: 177px;
	height: 84px;
	background: url(img/kouqian_bg_img.png) no-repeat;
	margin-top: 20px;
	margin-left: 35px;
}
.rules-3 {
	float: left;
	width: 177px;
	height: 84px;
	background: url(img/kouqian_bg_img.png) no-repeat;
	margin-top: 20px;
	margin-left: 45px;
}
.success p{
	display: inline-block;
	margin-top: 7px;
}
.success p span {
	padding: 0 7px 0 7px;
}
.success p:nth-of-type(1) {
	width: 125px;
}
.success p:nth-of-type(2) {
	width: 180px;
}
.success p:nth-of-type(3) {
	width: 200px;
}
.house-details {
	width: 610px;
}
.list-details {
	padding-right: 15px;
}
/*地图位置*/
.column-map {
	width: 100%;
    padding: 40px 0 20px 0;
    overflow: hidden;
    position: relative;
}
.map-title {
	padding-left: 30px;
}
.house-map {
	width: 765px;
	height: 500px;
	margin-top: 40px;
	background: #eee;
	
}
.house-address {
	position: absolute;
	top: 80px;
	width: 410px;
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
	background-color: rgba(0,0,0,.4);
	z-index: 9;
}
/*提示语*/
.column-prompt {
	margin-left: 30px;
	margin-bottom: 40px;
}
.column-prompt p:nth-of-type(2){
	font-size: 14px !important;
	padding-top: 10px;
	line-height: 25px;
}
/*入住点评*/
.column-review {
	width: 1240px;
	background: #fff;

	margin: 0 auto;
    padding: 40px 30px;
    overflow: hidden;
}
.good {
	color: #ed3d30;
	font-size: 28px;
	padding-top: 10px;
    padding-right: 25px;
	padding-bottom: 5px;
}
.review-list li {
	float: left;
    line-height: 40px;
    width: 270px;
    padding: 0 0 0 30px;
    overflow: hidden;
}
.review-list li a {
	color: #646464;
}
.review-list li.sheshi img {
	padding-left: 15px;
}
/*全部评价*/
.review-box {
	width: 1240px;
	height: 40px;
	line-height: 40px;
	background: #d5dbd8;
    overflow: hidden;
    margin: 0 auto;
}
.review-box a {
	font-size:  16px;
	padding-left: 30px;
}
.review-box .cur {
    color: #ff6a51;
    font-weight: bold;
    cursor: default;
}
/*房客评价*/
.comment-main {
	margin-left: 80px;
}
.comment-list {
	width: 1240px;
	background: #fff;
	margin: 0 auto;
}
.comment-ul {
    padding: 10px 30px;
}
.comment-group {
	margin-top: 30px;
}
.user-avatar {
    float: left;
    width: 60px;
    margin-right: 20px;
}
.comment-tit {
    overflow: hidden;
    line-height: 22px;
}
.comment-ifno {
    float: left;
}
.name-box {
	font-size: 16px;
}
.booking-info {
    display: inline-block;
    margin-left: 30px;
    color: #969696 ;
}
/*文字*/
.comment-detail {
	padding-top: 5px;
	word-break: break-all;
    word-wrap: break-word;
}
/*图片*/
.comment-pic ul {
    margin-left: -10px;
    margin-top: 20px;
    overflow: hidden;
}
.comment-pic ul li {
    float: left;
    width: 162px;
    height: 90px;
    margin: 5px 10px 0 10px;
    padding: 0;
    display: inline;
    border: none;
}
/*查看回复*/
.btn-cont {
    margin-top: 5px;
}
.btn-cont a {
    display: inline-block;
    color: #ed3d30;
    margin-right: 10px;
    line-height: 24px;
}
/*分页*/
.pagination {
	width: 1033px;
	height: 50px;
	background: #d5dbd8;
	margin: 30px auto;
}
.pagination li {
	float: right;
}
.pagination li a {
	display: block;
	width: 86px;
	height: 50px;
	line-height: 50px;
	border-left: 1px solid #fff;
	text-align: center;
}
/*房东其他房源*/

.column-other {
	width: 1240px;
    background: #fff;
   	margin: 0 auto;
    padding: 40px 0;
    overflow: hidden;
}
.other-house {
	width: 100%;
    height: auto;
    margin-top: 20px;
    overflow: hidden;
}
.house-item li{
	float: left;
	margin-left: 20px;
}
.house-item .img-box{
	float: left;
    width: 386px;
    height: 280px;  
}
.img-house {
	width: 386px;
	height: 240px;
}
.fd-txt {
    padding-top: 10px;
}
.tip-box span:nth-of-type(1){
	color:#ed3d30;
	font-size: 16px;
}
.tip-box span:nth-of-type(2){
	padding-left: 20px;
}
/*周边的房源*/
.column-circum {
	width: 1240px;
    background: #fff;
    padding: 40px 0;
    overflow: hidden;
    margin: 0 auto;
    filter:alpha(opacity=50);
}