@charset "utf-8";
/* CSS Document */

a {
	cursor: pointer;
}
/*************提交订单—普通下单页************/
.order-cont {
	width: 100%;
	min-width: 1240px;
	overflow: hidden;
}
.cont-box {
	width: 1240px;
	margin: 0 auto;
}
/*步骤提示*/
.step-box {
	width: 1040px;
	margin: 40px auto;
}
/*入住信息*/
.order-con {
	line-height: 25px;
    padding: 20px 20px 15px 20px;
}
.order-title {
	font-size: 18px;
}
/*删除*/
.delete a {
	display: block;
}
.delete a:hover {
	color: #323232;
}

/*房源名称*/
.room-name {
	font-size: 15px;
	padding-right: 30px;
}
/*房源价格*/
.order-price {
	padding-right: 25px;
}
/*房源地址*/
.order-address span {
	color: #646464;
	padding-left: 10px;
	vertical-align: text-bottom;
}
/*入住时间，套数*/
.order-time {
	padding-top: 15px;
	padding-left: 25px;
}
.time-list {
	float: left;
	padding-right: 50px;
}
.order-time img {
	padding-right: 5px;
}
.order-time span {
	padding-right: 10px;
}
.time-list input, .time-list select {
	padding-left: 6px;
}
.daycount {
	line-height: 15px;
	padding: 0 5px;
}
.order-num {
	width: 105px;
	margin-right: 5px;
}
.people-num {
	padding-left: 33px;
}
/*入住联系人*/
.live-people {
	padding-left: 20px;
	padding-right: 30px;
}
.order-contact {
	padding-top: 10px;
}
.order-contact input {
	margin-right: 5px;
}
/*联系人信息*/
.tab-infor {
    border: 1px solid #ccc;	
    margin-top: 15px;
}

.tab-infor tr th {
	width: 170px;
	height: 34px;
	border: 2px solid #ccc;
	font-weight: bold;
}
.tab-infor tr th img {
	padding-right: 10px;
}
.tab-infor tr td {
	width: 170px;
	height: 34px;
	border: 2px solid #ccc;
	background: #fff;
}
.tab-infor tr td input {
	width: 170px;
	height: 34px;
	border: none;
	text-align: center;
	background: #fff;
}
.tab-infor tr td select {
	width: 90px;
	border: none;
	background: #fff;
}
/*新增入住人*/
.add-people {
	margin-top: 20px;
}
.sync {
	vertical-align: middle;
}
.sync input {
	margin-right: 10px;
}

.add-btn {
	display: inline-block;
	width: 100px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	background: #1bc272;
	border-radius: 10px;
	margin-left: 30px;
}
.add-btn:hover {
	color: #fff;
}
/*预订人电话、姓名*/
.order-people {
	margin-top: 10px;
}
.reserve-people {
	padding-top: 10px;
}
.reserve-people p {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}
.reserve-people p span {
	display: block;
	line-height: 20px;
}
.reserve-code {
	display: none;
	padding-left: 28px;
}
/*修改*/
.change-num {
	display: inline-block;
	color: #ff1a00;
	margin-left: 20px;
	cursor: pointer;
}
.change-num:hover {
	color: #ff1a00;
}
/*取消修改*/
.change-off {
	display: none;
	color: #ff1a00;
	margin-left: 20px;
	cursor: pointer;
}
.change-off:hover {
	color: #ff1a00;
}
/*评价，积分*/
.login-integral {
	padding-left: 25px;
}
/*退订规则*/
.rules-1 {
    float: left;
    width: 136px;
    height: 67px;
    background: url(img/zhengchangtk_bg_img.png) no-repeat;
    margin-top: 25px;
    position: relative;
    left: 70px;
}
.rules-order {
	color: #fff;
	padding-left: 20px;
	line-height: 20px;
    padding-top: 5px;
}
.rules-order span {
	color: #fff;
	padding: 0 5px;
}
.rules-2 {
    float: left;
    width: 157px;
    height: 73px;
    background: url(img/kouhou_bg_img.png) no-repeat;
    margin-top: 25px;
    position: relative;
    left: 230px;
}
.rules-3 {
    float: left;
    width: 157px;
    height: 73px;
    background: url(img/kouhou_bg_img.png) no-repeat;
    margin-top: 25px;
    position: relative;
    left: 350px;
}
.success p {
    display: inline-block;
}
.success p span {
	line-height: 20px;
    padding: 0 7px 0 7px;
}
.success p:nth-of-type(1) {
    width: 255px;
    padding-left: 10px;
}
.success p:nth-of-type(2) {
    width: 300px;
}
.success p:nth-of-type(3) {
    width: 215px;
}
/*服务协议*/
.agreement {
	display: block;
	text-align: center;
	margin-top: 10px;
}
.agreement a {
	color: #ff6a51;
}
/*提交按钮*/
.sub-btn {
	display: block;
	width: 200px;
	height: 50px;
	color: #fff;
	font-size: 16px;
	background:  #1bc272;
	border-radius: 10px;
	margin: 50px auto;
}
/************提交订单—未登录下单页************/
.order-inp {
	width: 170px;
	height: 34px;
	font-size: 12px;
}
/*预订人电话、姓名*/
.fast-order {
	margin-top: 10px;
}
.fast-reserve {
	display: inline-block;
}
.fast-reserve p {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}
.fast-reserve p span {
	font-size: 14px;
	display: block;
	line-height: 20px;
}
/*图片验证码*/
.img-reserve{
	padding-left: 100px;
}
.img-note {
	display: inline-block;
	width: 130px;
	line-height: 40px;
	text-align: center;
	background: #ccc;
	margin-left: 20px;
}
/*短信验证码*/
.note-reserve {
	padding-left: 28px;
}
.note-reserve input {
	width: 95px;
}
.get-note {
	display: inline-block;
	width: 104px;
	color: #fff;
    line-height: 34px;
    text-align: center;
    background: #1bc272;
    border-radius: 10px;
    margin-left: 20px;
}
/*姓名*/
.name-reserve {
	padding-left: 62px;
}
/*评价送积分*/
.order-integral p {
    display: inline-block;
    vertical-align: middle;
}
.expect {
	padding-right: 10px;
}
.expect span {
	display: block;
}
.new-user {
	color: #ff6a51;
	padding-left: 30px;
}
/************房东确认************/

/************支付定金************/
.pay-con {
	width: 100%;
    line-height: 25px;
    padding: 20px 0 10px 10px;
}
/*订单号，时间*/
.order-txt {
	padding: 15px 0;
}
.order-txt p {
	display: inline-block;
}
.goods-time,.goods-time span {
	color: #969696;
}
/*房源信息*/
.order-item {
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
}
/*房源图片*/
.order-img {
    float: left;
    width: 280px;
    height: 158px;
}
.order-img img {
    width: 100%;
    height: 100%;
}
/*房源名称，入住退房时间*/
.order-content {
	float: left;
	padding-left: 30px;
}
.order-content p{
	padding-bottom: 15px;
}
.house-time p {
	display: inline-block;
}
.stay-time span,.stay-day span,.suite span {
	padding: 0 6px;
}
.stay-day {
	padding-left: 10px;
	padding-right: 30px;
}
/*支付金额*/
.pay-money {
	font-size: 24px;
	padding: 0 30px 0 20px;
}
/*支付方式*/
.pay-house {
	width: 100%;
    padding-bottom: 30px;
}
.pay-title {
	font-size: 18px;
	float: left;
}
.pay-rad {
	float: left;
	margin-top: -10px;
}
/*支付宝，微信*/
.alipay {
	padding-left: 30px;
	padding-right: 30px;
}
.alipay-img,.wechat-img {
	padding-left: 10px;
	padding-top: 4px;
}
/*优惠券*/
.coupons-title {
	float: left;
	font-size: 18px;
	margin-right: 20px;
}
.coupons-title span {
	display: block;
}
.coupons {
	margin-bottom: 30px;
}
.coupons select,.coupons input {
	float: left;
	width: 280px;
	height: 30px;
	color: #646464;
}
.add-use {
	display: none;
}
.use-coupons {
	float: left;
	width: 280px;
	line-height: 30px;
	border: 2px solid #ccc;
}
.use-coupons p {
	padding-left: 10px;
}
/*积分*/
.total-integral {
	display: inline-block;
	padding-left: 30px;
}
.total-integral span {
	padding: 0 5px;
}
.integral-prompt {
	display: none;
	position: absolute;
	height: 25px;
	color: #ff1a00;
	padding-top: 8px;
	margin-left: 110px;
}
.integral-prompt span {
	color: #ff1a00;
	padding: 0 5px;
}
/*实际支付*/
.all-pay {
	width: 100%;
	text-align: center;
	margin: 50px auto;
}
.all-pay p {
	display: inline-block;
}
.all-pay p span {
	font-size: 24px;
	color: #ed3d30;
	padding-left: 20px;
	padding-right: 30px;
}
/*支付按钮*/
.pay-btn {
	display: inline-block;
	width: 200px;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	background: #1bc272;
	border-radius: 10px;
}
.pay-btn:hover {
	color: #fff;
}
/*支付弹框*/
.modal-dialog {
	position: relative;
	top: 250px;
    width: 650px;
    color: #323232;
    margin: 0 auto;
}
.modal-title {
	font-size: 18px;
    text-align: center;
    padding-top: 15px;
}
.modal-body p {
	display: block;
	font-size: 15px;
	line-height: 25px;
}
/*底部*/
.modal-footer {
	padding: 50px 0 30px 0;
}
.ok-btn {
	width: 140px;
	height: 34px;
	color: #fff;
	font-size: 18px;
	background: #1bc272;
	border-radius: 10px;
}
.payment-btn {
	width: 140px;
	height: 34px;
	font-size: 18px;
	background: #ccc;
	border-radius: 10px;
	margin-left: 30px;
}
/*返回*/
.back {
	width: 100%;
    padding: 0 165px 70px 0;
}
.back a {
	color: #ff1a00;
	text-decoration: none;
}
/************预订成功************/