@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'microsoft yahei';
}
*{
	margin: 0;
	padding: 0;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a,p,span {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/*用户注册*/
.content-reg {
	width: 1200px;
	height: 680px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -460px 0 0 -600px;
	z-index: 701;
	display: none;
	
}
.reg-center {
	width: 1200px;
	height: 680px;
	background-color: #fff;
	position: relative;
	top: 120px;
	z-index: 701;
	margin: 0 auto;
	clear: both;
}
/*头部*/
.reg-top {
	width: 1200px;
	height: 60px;
	background-color: #1bc272;
}
.reg-top h2 {
	color: #fff;
	font-size: 20px;
    font-weight: bold;
	text-align: center;
	line-height: 20px;
}


/*注册内容*/
#reg-shortcut {
	width: 650px;
	margin: 0 auto;
}
#reg-shortcut .form-group:nth-of-type(1) {
	margin-top: 80px;
}
.form-group {
	display: block;
	float: left;
	width: 650px;
	height: 50px;
	line-height: 30px;
	margin-top: 40px;
}
.col-sm-2 {
	width:72px;
	float: left;
}
.control-label {
	font-size: 18px;
	color: #323232;
	margin-right: 8px;
}
.txt {
	width: 330px;
	height: 34px;
	font-size: 14px;
	color: #999;
	border: 1px solid #ccc;
	outline-color: #1bc272;
	padding-left: 20px;
}
.note-pwd {
	width: 180px;
	height: 34px;
	background-color: #1bc272;
	padding: 7px 8px;
	margin-left: 20px;
}
.note-pwd a {
	line-height: 34px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.note-pwd a:hover {
	color: #fff;
	text-decoration: none;
}
.prompt {
	display: inline-block;
	padding-left: 20px;
}
.verification {
	display: inline-block;
	width: 160px;
	height: 50px;
	background-color: #CCC;
	margin-left: 20px;
}
.reg-btn {
	width: 180px;
	height: 55px;
	font-size: 18px;
	background-color: #1bc272;
	border-radius: 5px;
	position: relative;
	left: -18px;
	
}
.btn-default:hover {
	background-color: #1bc272;
	color: #fff;
}
.reg-account {
	font-size: 18px;
	color: #323232;
	margin-left: 40px;
}
.reg-account a {
	color: #1bc272;
	font-size: 18px;
}

/****用户注册信息完善****/
.content-per {
	width: 1200px;
	height: 680px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -460px 0 0 -600px;
	z-index: 701;
	display: none;	
}
/*添加头像*/
.my-pic {
	text-align: center;
	padding-top: 30px;
}
.my-pic p {
	font-size: 16px;
	margin-top: 10px;
}
/*上传头像*/
.imghead {
    position: relative;
    display: inline-block;
}
.imghead .reg-img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.imghead input {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;
}
.imghead .previewImg{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
/*完善内容*/
#per-shortcut {
    width: 530px;;
    text-align: center;
    margin: 0 auto;
}
.content-per .form-group {
	display: block;
    float: left;
    height: 34px;
    line-height: 30px;
	margin-top: 30px;
}
.form-group .radio {
    float: left;
    margin-left: 50px;
}
#per-shortcut .control-label {
    font-size: 18px;
    color: #323232;
}
 @media (min-width: 768px) {
	.content-per .col-sm-10 {
	    width: 53.33333333%;
	}
}
/*注册完成按钮*/
.per-btn {
    width: 180px;
    height: 55px;
    font-size: 18px;
    background-color: #1bc272;
    border-radius: 5px;
    position: relative;
    left: -75px;
}
/*跳过*/
.skip a {
	color: #323232;
	font-size: 14px;
}
